@charset "ISO-8859-1";/* CSS Document */
html{
color:#000;
background:#FFF;
}
/*
#code{
    position:relative;
    left:10%;
    box-sizing:border-box;
    width:80%;
    padding:10px;
    background-color:#FFFFFF;
    border:2px solid #006699;
    float:center;
    clear:both;
    font-weight:bold;
    font-size:15px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    width:300px;
    height:200px;
}*/

#etat{
    font-size:20px;
    position:relative;
    left:10%;
    box-sizing:border-box;
    width:55%;
    height:300px;
    padding:10px;
    background-color:#006699;
    border:2px solid #006699;
    float:center;
    color:#BBBBBB;
    font-weight:bold;
    float:left;
    margin-top:30px;
    margin-bottom:60px;
}

#form{
    font-size:30px;
    position:relative;
    box-sizing:border-box;
    left:25%;
    width:80%;
    padding:10px;
    background-color:#FFFFFF;
    float:center;
    clear:both;
    color:#BBBBBB;
    text-align:right;
    line-height:45px;
    margin-bottom:60px;
}

#HR{
    border-top:4px solid #006699;
    font-weight:bold;
}
.HR{
    border-top:2px solid #006699;
    font-weight:bold;
}

.high{height:10px; overflow:hidden}


#mark{
    font-size:35px;
    position:relative;
    left:10%;
    color:#BBBBBB;
    text-align:left;
}

.mark{
    font-size:35px;
    position:relative;
    left:10%;
    color:#BBBBBB;
    text-align:left;
    margin:10px;
    text-decoration:underline;
}

#navigation ul {
font-size:35px;
text-align:center;
border-top:2px solid #006699;
border-bottom:2px solid #006699;
<HR color=#006699 SIZE=4>
}
#navigation ul li{
color:#006699;
width:23%;
float:left;
list-style:none;
}
#navigation a{
font-size:30px;
color:#006699;
font-weight:bold;
font-family:"Helvetica";
background-color: #FFFFFF;
text-align:center;
}
.navigation{
    font-size:30px;
    color:#006699;
    font-weight:bold;
    font-family:"Helvetica";
    background-color: #FFFFFF;
    text-align:center;
}



#presentation{
position:relative;
left:10%;
box-sizing:border-box;
width:80%;
padding:10px;
background-color:#006699;
border:2px solid #006699;
float:center;
clear:both;
color:#BBBBBB;
font-weight:bold;
font-size:15px;
text-align:center;
margin-top:40px;
margin-bottom:40px;
}

.presentationtitle{    color:#BBBBBB;
    font-weight:bold;
    font-size:40px;
    text-align:center;
    padding:10px;
}
.presentationsubtitle{    color:#BBBBBB;
    font-weight:bold;
    font-size:20px;
    text-align:center;
    font-style:italic;
    padding:10px;
}
.presentation{    color:#BBBBBB;
    font-weight:bold;
    font-size:15px;
    text-align:center;
    padding:10px;
}

#photo{
    position:relative;
    right:10%;
    box-sizing:border-box;
    width:300px;
    height:300px;
    padding:7px;
    background-color:#006699;
    border:2px solid #006699;
    float:center;
    color:#BBBBBB;
    font-weight:bold;
    float:right;
    margin-bottom:60px;
    margin-top:30px;
    overflow:hidden;
}

#photoID{
    max-width:280px;
    width:280px;
    width:expression(document.body.clientWidth>280?”280px”:”auto”);
    overflow:hidden;
}


#subtitle{
    font-size:25px;
    position:relative;
    left:10%;
    width:80%;
    color:#006699;
    text-align:left;
    float:center;
    clear:both;
    margin-top:30px;
    margin-bottom:60px;
    text-transform : capitalize;
}
#subtitle ul {
    font-size:30px;
    text-align:left;
    width:90%;
    text-transform : capitalize;
    margin-top:10px;
    margin-bottom:10px;
}
#subtitle ul li{
    font-size:23px;
    color:#000000;
    width:80%;
    margin-bottom:15px;
}
#subtitle   {
    font-size:18px;
    color:#000000;
    width:80%;
}

.subtitle{
    font-size:30px;
    text-align:left;
    width:90%;
    text-transform : capitalize;
    margin-top:10px;
    margin-bottom:10px;
    color:#006699;
}
.img{
    font-size:30px;
    text-align:center;
    width:90%;
    text-transform : capitalize;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}
}

#titre{
    font-size:30px;
    color:#006699;
    font-weight:bold;
    font-family:"Helvetica";
    background-color: #FFFFFF;
    text-align:center;
    /*vertical-align:top;*/
}


#window{
    position:relative;
    box-sizing:border-box;
    text-align:center;
}



#copyright{
font-size:30px;
color:#006699;
font-weight:bold;
font-family:"Helvetica";
background-color: #FFFFFF;
text-align:center;
line-height:45px;
border-top:4px solid #006699;
border-bottom:0px;
float:center;
clear:both;
}

/*
 <div class="subtitle">EXEMPLE DE CODE</div>
 <div class="HR"></div>
 <div class="high"></div>
 <pre>
 <xmp><div style="width:300px;height:200px;border:1px dashed red" >
 <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
 <html>
 <head>
 <title>Ma première page avec du style</title>
 <style type="text/css">
 body {
 color: purple;
 background-color: #d8da3d ;
 margin-top:10px;
 margin-bottom:10px;}
 </style>
 </head>
 
 <body>
 [etc.]
 </div></xmp>
 </pre>
*/
